
body{
    background-color: floralwhite;
}

.flex-container{
    display: flex;
    padding: 50px 50px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 80px;

}

.image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
  }

  .footer{
    margin: 0%;
    padding: 0%;
    background-color:#272727;
}

.social-links{
    display: flex;
}

.social-links ul{
    padding:10px;
    display: flex;
    width:300px;
    height:30px;    
    margin:auto;
}

.social-items{
    list-style: none;
}

.social-items a{
    padding: 10px 20px;
    font-size: 35px;
    color: rgb(36, 68, 209);
    transition: all.25s;
}

.social-items a:hover{
    color: rgb(51, 163, 255);
}

.quick-links{
    display: flex;
    width: 450px;
    height: 70px;
    margin: auto;
}

.quick-links ul{
    display: flex;
}

.quick-items{
    list-style: none;
}

.quick-items a{
    text-decoration: none;
    padding: 0px 15px;
    font-size: 20px;
    color: white;
    transition: .25s;
}

.quick-items a:hover{
    color: rgb(97, 8, 8);
}

.outer-footer{
    padding: 10px;
    text-align: center;
    color: white;
    font-size: 15px;
    background-color:#3f3f3f;
}

.nav{
    background-color: rgb(126, 126, 126);
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.nav a{
    color: seashell;
    transition: all.25s;
    text-decoration: none;
    background-color: rgb(126, 126, 126);
}

.nav a:hover{
     color: rgb(32, 32, 32);
     font-family: cursive;
}

.education{
    text-align: center;
}

.table{
    background-color:rgb(211, 255, 255) ;
}